* {
    padding: 0;
    margin: 0;
}

.title {
    font-size: 225%;
}

.Logo1 {
    display: flex;
    justify-content: right;
    width: 100px;
    margin-top: 22px;
}

.Logo2 {
    display: flex;
    justify-content: left;
    width: 100px;
    margin-top: 60px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #646FD4;
    font-family: 'Zen dots', cursive;
    color: white;
    font-size: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

h1 {
    font-size: larger;
    margin-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
}

.Openingstijden {
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
}

.tijdslot {
    height: 600px;
    width: 620px;
    margin: left;
    background: #858ccc;
    display: flex;
    justify-content: left;
    position: relative;
}

.tijdsloten {
    height: 600px;
    width: 620px;
    background: #9BA3EB;
    display: flex;
    justify-content: right;
    position: relative;
    flex-direction: column;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dag1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Dag2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Dag3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Dag4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Dag5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Dag6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Dag7 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.ExtraInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
    padding: 5px;
}



.inleiding {
    height: 600px;
    width: 620px;
    margin: left;
    background: #858ccc;
    display: flex;
    justify-content: right;
    position: relative;
}

.inleidingen {
    height: 600px;
    width: 620px;
    margin: left;
    background: #9BA3EB;
    display: flex;
    justify-content: left;
    position: relative;
}

.LeukeFeiten {
    font-size: 175%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
}

.inleiding1,
.inleiding2,
.inleiding3 {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 20px;
}


.blaadjes {
    display: flex;
    flex-direction: row;
}

.content {
    height: 500px;
    width: 1260px;
    overflow: hidden;
}

.content .images {
    padding: 10% auto;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: top;
}

.images img {
    height: 100%;
    width: 100%;
}



a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(223, 223, 223);
    font-size: larger;
}

.post-it {
    margin: 15px;
    width: 400px;
    height: 400px;
    background: #646FD4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 100%, 0% 100%);
    transition: 1s all;
    transform-origin: top left;
    flex-shrink: 0;
}

.post-it:hover {
    transform: rotate(15deg);
    transition: 0.5s all;
}

.verleden {
    background: #9BA3EB;
}

.Reserveren {
    background: #9BA3EB;
}

.Media {
    background: #9BA3EB;
}

.verleden>div,
.Reserveren>div,
.Media>div {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.verleden>div {
    background: #858ccc;
}

.Reserveren>div {
    background: #858ccc;
}

.Media>div {
    background: #858ccc;
}

.text {
    font-size: 220%;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .post-it:hover {
        transform: none;
    }
}